@model IEnumerable<ServiSalud1.Models.Empleados>
@using Microsoft.AspNetCore.Identity;
@using ServiSalud1.Models;

@{
    ViewData["Title"] = "Nuestros Empleados";@*
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th {
            background-color: #1977cc;
            color: white;
        }

        .btn-editar {
            background-color: white;
            color: blue; /* Cambia el color del texto a azul */
            transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color del texto */
        }

        .btn-borrar {
            background-color: white;
            color: red; /* Cambia el color del texto a rojo */
            transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color del texto */
        }

        .btn-editar:hover {
            background-color: dodgerblue; /* Cambia el fondo a un tono de gris claro cuando el mouse pasa por encima */
        }

        .btn-borrar:hover {
            background-color: darkred; /* Cambia el fondo a un tono de gris claro cuando el mouse pasa por encima */
        }

        .btn-icon {
            color: gray; /* Cambia el color de los íconos a gris */
            transition: color 0.3s; /* Transición para el color de los íconos */
        }

        .btn-editar:hover .btn-icon,
        .btn-borrar:hover .btn-icon {
            color: white; /* Cambia el color de los íconos a blanco al pasar el mouse por encima del botón */
        }
    </style>*@
}
@{
    ViewData["Title"] = "Nuestros Empleados";
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 25px;
            background-color: #f8f9fa;
        }

        #titulo-empleados {
            font-weight: bold;
            color: #336699;
            text-align: center;
            margin-top: 20px;
        }

        .tabla-empleados {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .tabla-empleados th, .tabla-empleados td {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid #dee2e6;
            }

            .tabla-empleados th {
                background-color: #1977cc;
                color: white;
            }

        .datos_tabla {
            background-color: #ffffff;
            transition: transform 0.3s;
        }

            .datos_tabla:hover {
                transform: scale(1.02);
            }

        .btn-icon {
            transition: color 0.3s; /* Transición para el color del ícono */
        }

        .btn-mostrar:hover .btn-icon {
            color: black; /* Cambia el color del ícono a negro al pasar el mouse por encima del botón "Mostrar" */
        }

        .btn-editar .btn-icon {
            background-color: white;
            color: blue; /* Cambia el color del texto a azul */
            transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color del texto */
        }

        .btn-borrar .btn-icon {
            background-color: white;
            color: red; /* Cambia el color del texto a rojo */
            transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color del texto */
        }

        .btn-editar:hover .btn-icon {
            background-color: dodgerblue; /* Cambia el fondo a un tono de gris claro cuando el mouse pasa por encima */
        }

        .btn-borrar:hover .btn-icon {
            background-color: red; /* Cambia el fondo a un tono de gris claro cuando el mouse pasa por encima */
        }

        .btn-icon {
            color: gray; /* Cambia el color de los íconos a gris */
            transition: color 0.3s; /* Transición para el color de los íconos */
        }

        .btn-editar:hover .btn-icon,
        .btn-borrar:hover .btn-icon {
            color: white; /* Cambia el color de los íconos a blanco al pasar el mouse por encima del botón */
        }


        .btn-anadir {
            background-color: #4CAF50; /* Color de fondo */
            color: white; /* Color del texto */
            border: none; /* Sin borde */
            padding: 10px 20px; /* Ajustar el relleno según sea necesario */
            text-align: center; /* Centrar el texto */
            text-decoration: none; /* Quitar la decoración de texto */
            display: inline-block; /* Mostrar como bloque en línea */
            font-size: 16px; /* Tamaño del texto */
            margin: 4px 2px; /* Márgenes */
            cursor: pointer; /* Cambiar el cursor a puntero al pasar por encima */
            border-radius: 4px; /* Borde redondeado */
        }

            .btn-anadir:hover {
                background-color: #45a049; /* Cambiar el color de fondo en el hover */
            }

            .btn-anadir .btn-icon {
                color: gray;
            }

            .btn-anadir:hover .btn-icon {
                color: white;
            }

    </style>
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
<h1 id="titulo-pacientes" class="display-4">Nuestros Empleados</h1>
<table class="tabla-empleados">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Sede Clinica
            </th>
            <th>
                Sexo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Nacimiento
            </th>
            @if (User.IsInRole("Administrador"))
            {
                <th>
                    Opciones
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="datos_tabla">
                <td>
                    @item.Id_empleado
                </td>
                <td>
                    @item.Nombre_empleado
                </td>
                <td>
                    @(item.Especialidad != null ? item.Especialidad.Especialidad_nombre : "N/A")
                </td>
                <td>
                    @(item.Clinica != null ? item.Clinica.Ubicacion : "N/A")
                </td>
                <td>
                    @item.Sexo
                </td>
                <td>
                    @item.Telefono
                </td>
                <td>
                    @item.Nacimiento.Date.ToString("dd/MM/yyyy")
                </td>
                @if (User.IsInRole("Administrador"))
                {
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id_empleado" class="btn btn-primary text-white btn-editar">
                            <i class="fas fa-pencil-alt btn-icon"></i>
                        </a>
                        <a asp-action="Borrar" asp-route-id="@item.Id_empleado" class="btn btn-danger text-white btn-borrar">
                            <i class="fas fa-trash-alt btn-icon"></i>
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("Administrador"))
{
    <div class="text-right mt-3">
        <a class="btn btn-anadir" asp-area="" asp-controller="Empleados" asp-action="Crear">
            <i class="fas fa-plus-circle btn-icon"></i> Añadir Empleado
        </a>
    </div>
}
</div>