@model IEnumerable<ServiSalud1.Models.Empleados>
@using ServiSalud1.Models;

@{
    ViewData["Title"] = "Nuestros Empleados";
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th {
            background-color: #1977cc;
            color: white;
        }

        .btn-editar {
            background-color: white;
            color: blue; /* Cambia el color del texto a azul */
            transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color del texto */
        }

        .btn-borrar {
            background-color: white;
            color: red; /* Cambia el color del texto a rojo */
            transition: background-color 0.3s, color 0.3s; /* Transiciones para el fondo y el color del texto */
        }

        .btn-editar:hover {
            background-color: dodgerblue; /* Cambia el fondo a un tono de gris claro cuando el mouse pasa por encima */
        }

        .btn-borrar:hover {
            background-color: darkred; /* Cambia el fondo a un tono de gris claro cuando el mouse pasa por encima */
        }

        .btn-icon {
            color: gray; /* Cambia el color de los íconos a gris */
            transition: color 0.3s; /* Transición para el color de los íconos */
        }

        .btn-editar:hover .btn-icon,
        .btn-borrar:hover .btn-icon {
            color: white; /* Cambia el color de los íconos a blanco al pasar el mouse por encima del botón */
        }
    </style>
}
<br />
<br />
<br />
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Sede Clinica
            </th>
            <th>
                Sexo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Nacimiento
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="datos_tabla">
                <td>
                    @item.Id_empleado
                </td>
                <td>
                    @item.Nombre_empleado
                </td>
                <td>
                    @(item.Especialidad != null ? item.Especialidad.Especialidad_nombre : "N/A")
                </td>
                <td>
                    @(item.Clinica != null ? item.Clinica.Ubicacion : "N/A")
                </td>
                <td>
                    @item.Sexo
                </td>
                <td>
                    @item.Telefono
                </td>
                <td>
                    @item.Nacimiento.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id_empleado" class="btn btn-primary text-white btn-editar">
                        <i class="fas fa-pencil-alt btn-icon"></i> <!-- Icono de lápiz -->
                    </a>
                    <a asp-action="Borrar" asp-route-id="@item.Id_empleado" class="btn btn-danger text-white btn-borrar">
                        <i class="fas fa-trash-alt btn-icon"></i> <!-- Icono de bote de basura -->
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary text-white" asp-area="" asp-controller="Empleados" asp-action="Crear">Añadir Empleado</a>
