@model IEnumerable<ServiSalud1.Models.Clinica>
  @{
    ViewData["Title"] = "Nuestras Clínicas";

  }

  <div class="text-center">
    <h1 class="display-4">Nuestras Clínicas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>
            Codigo
          </th>
          <th>
            Clínica
          </th>
          <th>
            Ubicacion
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach(var item in Model)
        {
        <tr class="datos_tabla">
          <td>
            @item.Id_Clinica
          </td>
          <td>
            @item.Nombre_clinica
          </td>
          <td>
            @item.Ubicacion
          </td>
          <td>
            <a class="btn btn-primary text-white" asp-action="Editar"
                asp-route-id="@item.Id_Clinica">Editar</a>
            <a class="btn btn-danger text-white" asp-action="Borrar"
                asp-route-id="@item.Id_Clinica">Borrar</a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>




