@model List<ServiSalud1.Models.Citas>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container">
    <h1 class="display-2 mt-3">Listado de Citas</h1><br>
    <table class="table">
        <thead>
            <tr>
                <th>Especialidad</th>
                <th>Fecha de la Cita</th>
                <th>Paciente</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cita in Model)
            {
                <tr>
                    <td>@cita.Especialidad.Especialidad_nombre</td>
                    <td>@cita.Fechas_citas.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td>@cita.Historial_clinico.Pacientes.Nombre</td>
                    <td>
                        <form method="post" action="@Url.Action("EliminarCita", "RegistrodeCitas", new { id = cita.Id_citas })">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Eliminar Cita</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a asp-controller="RegistrodeCitas" asp-action="Index" class="btn btn-primary">Volver al Registro de Citas</a>
</div>
