@model IEnumerable<ServiSalud1.Models.Pacientes>
@{
    ViewData["Title"] = "Nuestros Pacientes";
    <style>
        #titulo-pacientes {
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            color: #336699;
            text-align: center;
            margin-top: 20px;
        }

        body {
            margin: 25px;
        }

    </style>
}
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 id="titulo-pacientes" class="display-4">Nuestros Pacientes</h1>
    <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        DNI
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Sexo
                    </th>
                    <th>
                        Nacimiento
                    </th>
                    <th>
                        Direccion
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="datos_tabla">
                        <td>
                            @item.Id_pacientes
                        </td>
                        <td>
                            @item.DNI
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Apellido
                        </td>
                        <td>
                            @item.Telefono
                        </td>
                        <td>
                            @item.Correo
                        </td>
                        <td>
                            @item.Sexo
                        </td>
                        <td>
                            @item.Nacimiento
                        </td>
                        <td>
                            @item.Direccion
                        </td>
                        <td>
                        <a class="btn btn-primary text-white mb-2" asp-action="Editar" asp-route-id="@item.Id_pacientes">Editar</a>
                        <a class="btn btn-danger  text-white mb-2" asp-action="Borrar" asp-route-id="@item.Id_pacientes">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary text-white" asp-area="" asp-controller="Pacientes" asp-action="Crear">Añadir Paciente</a>
</div>
